.container{
    display: flex;
    margin: 0 auto;
    width: 650px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(255, 0, 0);
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 20px;
}
