.container{
    display: flex;
    margin: 0 auto;
    width: 650px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(255, 0, 0);
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background: none;
    color: rgb(0, 0, 0);
    background-color: #fd9a9a;
    padding: 15px;
    border: 1px solid #fa4141;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #fa3a3a;
    color: aliceblue;
}